.cardLayout {
    width: 14rem;

    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    border-radius: 2rem;
    corner-shape: squircle;
    overflow: clip;

    cursor: pointer;

    transition: all 0.3s ease;
}

.imageSettings {
    display: flex;
    height: 14rem;
    width: 100%;
    background-color: white;
}

.cardLayout:hover {
    transform: scale(1.02);
}