.loadingCircle {
    place-self: center;
    width: 2rem;
    height: 2rem;
    border-radius: 99rem;
    border: var(--color-primary) dashed 0.5rem;

    animation: loading 2s infinite;
}

@keyframes loading {
    0% {rotate: 0deg;}
    50% {rotate: 180deg;}
    100% {rotate: 360deg;}
}